<?xml version="1.0"?>

<model>
  <name>Linear Rail Simulator</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Brian Amin</name>
    <email>ba555@drexel.edu</email>
  </author>

  <description>
    A 4-wheel cart with rigid suspension
    and front-wheel steering. Affixed with IR Lock Beacon
  </description>
</model>
